extends layout

block layout-content
	div.View.Authenticated
		h1.Banner Authenticated, #{userProfile.token}!
		div.Message
			div.Title
			pre.Details=JSON.stringify(userProfile, null, 2)
		div.NavButtons
			a(href="/back_to_app?action=logged_in")
				div.NavButton Done