extends layout

block layout-content
	div.View.Root
		h1.Banner PoC
		div.Message
			div.Title
			span.Details Native to Web and back :: PoC
		div.NavButtons
			a(href="/authenticated")
				div.NavButton Log in
			a(href="/profile")
				div.NavButton Profile
		div.NavButtons
			p Deep links
			a(href="/integration")
				div.NavButton 3rd party
			a(href="/new_product")
				div.NavButton New Product
		div.NavButtons
			p Deep links
			a(href="nativeweb://NativeWeb.demo.anz-x.ittybittyapps.com")