extends layout

block layout-content
	div.View.Root
		h1.Banner PoC
		div.Message
			div.Title
			span.Details Native to Web and back :: PoC
		div.NavButtons
			a(href="/authenticated")
				div.NavButton Authenticate!