extends layout

block layout-content
	div.View.Integration
		h1.Banner 3rd party Integration
		div.Message
			div.Title
			h3 Integration
		div.NavButtons
			a(href="/back_to_app?action=")
				div.NavButton Done