extends layout

block layout-content
	div.View.NewProduct
		h1.Banner New Product
		div.Message
			div.Title
			span.Details New Product Info Page
		div.NavButtons
			a(href="/back_to_app?action=chat")
				div.NavButton Chat
			a(href="/back_to_app?action=")
				div.NavButton Done reading