extends layout

block layout-content
	div.View.Authenticated
		h1.Banner User Profile
		div.Message
			div.Title
			span.Details User's profile page
		div.NavButtons
			a(href="/back_to_app?action=set_pin")
				div.NavButton Change PIN
			a(href="/back_to_app?action=")
				div.NavButton Done